__pycache__
.ipynb_checkpoints/
*.ps
*.svg
.DS_Store
notebooks
KEY*.ipynb
lab_sessions/lab3/*/
lab_sessions/lab1/Group28_lab1.zip
lab_sessions/lab1/Lab1-assignment-toolkits.html
lab_sessions/lab1/Lab1-assignment-toolkits.pdf
lab_sessions/lab2/GoogleNews-vectors-negative300.bin
